  <%= link_to "Register an app", new_registered_application_path%>

  <% if current_user.registered_applications.any? %>
    <h1>Your registered apps:</h1>

  <table>
    <thead>
      <tr>
        <th>App</th>
        <th>App URL</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @registered_applications.each do |app| %>
        <tr>
          <td><%= link_to app.name, registered_application_path(app) %></td>
          <td><%= app.url %></td>

          <% if current_user == app.user %>
            <td><%= link_to 'Remove', registered_application_path(app), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

<% else %>
  <h1>You have not registered any apps</h1>
<%end %>
