<h3 class="headers">Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <label for="user_username"><i class="material-icons prefix">account_circle</i></label><br />
    <input autofocus="autofocus" type="text" name="user[username]" id="user_username" placeholder="Name" />
  </div>

  <div class="field">
    <label for="user_email"><i class="material-icons prefix">email</i></label><br />
    <input type="email" value="" name="user[email]" id="user_email" placeholder="Email" />
  </div>

  <div class="field">
    <label for="user_password"><i class="material-icons prefix">lock_open</i></label>
    <br />
    <input autocomplete="off" type="password" name="user[password]" id="user_password" placeholder="Password" />
  </div>

  <div class="field">
    <label for="user_password_confirmation"><i class="material-icons prefix">lock_outline</i></label><br />
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Password Confirmation" />
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" class="waves-effect waves-light btn" />
  </div>
<% end %>
<br>
<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>
