<table>
  <thead>
    <tr>
      <th>App</th>
      <th>App URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td><%= app.url %></td>
        <td><%= link_to 'Remove', registration_path(app), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
