<div id="app_title">
  <h1 class="headers">Welcome to tedmetrics</h1>
  <h5 class="center">An analytics tool for you. Create an account to track activity on your applications: </h5>
  <div class="center home-btns">
    <%= link_to "Sign Up", new_user_registration_path, :class => 'waves-effect waves-light btn'  %>
    <%= link_to "Sign In", new_user_session_path, :class => 'waves-effect waves-light btn'  %>
  </div>
</div>
