<div id="app_title">
  <h1>Welcome to blocmetrics</h1>
  <p>An analytics tool for you. Create an account to track activity on your applications: </p>
  <ul>
    <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li><br>
    <li><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></li>
  </ul>
</div>
