<% if current_user.registered_apps.any? %>
  <div class="headers">
    <h3>Your registered apps:</h3>
    <br>
    <%= link_to "Register a new app", new_registered_app_path, :class => 'waves-effect waves-light btn' %>
  </div>

<table class="highlight centered">
  <thead>
    <tr>
      <th>App</th>
      <th>App URL</th>
      <th colspan="3">Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @registered_apps.each do |app| %>
      <tr>
        <td><%= link_to app.name, registered_app_path(app) %></td>
        <td><%= app.url %></td>

        <% if current_user == app.user %>
          <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/registered_apps/7"><i class="material-icons">delete</i></a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% else %>
<div class="headers">
  <h3>You have not registered any apps</h3>
  <%= link_to "Register a new app", new_registered_app_path, :class => 'waves-effect waves-light btn' %>
</div>
<%end %>
