<h3 class="headers">Register a new app:</h3>

<%= form_for [@registered_app] do |f| %>
  <input type="text" name="registered_app[name]" id="registered_app_name" placeholder="Name" /><br />

  <input type="text" name="registered_app[url]" id="registered_app_url" placeholder="URL" /><br />

  <input type="submit" name="commit" value="Create Registered app" class="waves-effect waves-light btn" />
<% end %>
<br>
<div class="devise-links">
  <%= link_to 'Back', root_path %>
</div>
