<h3 class="headers">Log in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field">
  <label for="user_login"><i class="material-icons prefix">account_circle</i></label><br />
  <input autofocus="autofocus" type="text" value="" name="user[login]" id="user_login" />
</div>

<div class="field">
  <label for="user_password"><i class="material-icons prefix">lock_outline</i></label><br />
  <input autocomplete="off" type="password" name="user[password]" id="user_password" />
</div>

  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
    <label for="user_remember_me">Remember me</label>
  </div>

<div class="actions">
  <input type="submit" name="commit" value="Log in" class="waves-effect waves-light btn" />
</div>
<% end %>
<br>
<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>
