$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

.container {
	width: 50%;
	max-width: 750px;
	background: $white_opaque;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}

#user {
	text-align: center;
	font-size: 2em;
	color: gray;
	font-weight: 100;
}

#app-title {
  text-align: center;
  font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
}
